/* .intro{
    width:auto;
    height:600px;
    
}
.intro_box-right{
    background-image: url(/img/Rolex_OysterPerpetualDatejust31-7.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    height:100%;
    width:50%;
    float:left;
}
.intro_box-left{
    background-image: url(/img/rolex-daytona-ceramic-cufflink.png);
    background-size:100%;
    background-repeat: no-repeat;
    height:100%;
    width:50%;
    float:left;
} */
.carousel-caption {
    position: absolute;
}    

#banner{
    width: 100%;  
   
}

