footer{
    
    height:50vh;
    margin-top: 200px;
    width: 100%;
    text-align: center;
    
}
footer ul{
    list-style-type: none;
    
}
footer .logoBrand {
    height: 50px;
}

footer li{
    display: inline-block;
    margin-left:10px;
    
}
footer .nav-link{
    font-size: 17px;
}
footer .nav-link:hover {
    font-size: 25px;
    transition: 100ms;
}
    
    
    