
header {
    background-color: white;
    height:120px;
    width: 100%;
    display: flex;  
    justify-content: space-between;
}
.overlay{
    position: fixed;
    top:0;
    right: 0;
    left:0;
    bottom:0;
    background-color: rgba(0,0,0,0.3);
    z-index: 3;
    display: none;

}
.brand {
    line-height: 120px;
    font-size: 32px;
    margin-left: 6px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.logoBrand{
    width: auto;
    height:100%;
    margin-bottom: 5px;
}
.menu {
    position: absolute;    
    right:300px;
    
}
.menu ul{
    list-style-type: none;
    
}

.navItem{
    display: flex;
    text-decoration: none;       
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    line-height: 120px;
    font-family: serif;
}
header a:hover{
    font-weight: bold;
    font-size: 30px;
    color:black;
    
}
.un {
    transition: 500ms;
    border-bottom: 1px solid transparent;
}
  
.un:hover {
    border-color: black;
}

#logReg{
    position: absolute;
    width:160px;
    height: 44px;
    margin-right:50px;
    background-color: #383E28;
    top:38px;
    right: 50px;;
    text-align: center;
}
#logReg a{
    font-size: 17px;
    text-decoration: none;
    color:white;
    line-height: 44px;
    
}
.nav-btn{
    width:30px;
    height: 30px;
    margin-top:50px;
    display: none;
    margin-left:15px;
}
/*Responsive*/

@media (max-width:1023px) {
   .nav-btn{
    display:block;
   }
   .menu{
    display: none;
   }
   #logReg{
    display: none;
   }
}
.menu-mobile{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    max-width: 100%;
    background-color: #fff;
    z-index: 4;
    width: 50%;
    transform: translateX(100%);
    transition: transform linear 0.2s;
    
}
.nav-mobile{
    list-style-type: none;
    margin-top: 35px;
}
.nav-mobile .navItem {
    font-size: 24px;
    line-height: 60px;
    
}
.nav-close{
    width: 16px;
    height: 16px;
    color: gray;
    position: absolute;
    top:25px;
    right:10px;
}
.menu-input{
    display: none;
}
.menu-input:checked ~ .overlay{
    display: block;
    
}
.menu-input:checked ~ .menu-mobile{
    transform: translateX(0%);
    
}