#news {
    margin-top:50px;
    height:800px;
    width: 100%;
    
}
#news .row{
    margin-left:0;
}
#news .newsContent h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    font-weight: bold;
    color:rgb(109, 109, 77);
    padding-top:42px;
}
#news .newsContent{
    background-image:url(../img/News/newscover3.jpg);
    background-size:100%;
    width: 100%;
    background-repeat: no-repeat;
    
}
#news .card{
    margin-left:5px;
    margin-right: 5px;
    margin-top: 70px;
}