#product{
   margin-top: 25px;
   margin-left: 64px; 
    
}
#product .card {
    margin-bottom: 20px;
    text-align: center;
    transition: all 0.5s;
    margin-left:25px;
   
}
.iconList{
   position: absolute;
   bottom:120px;
   left:90px;
   display: none;
}
.card .imgProduct:hover img
{
    opacity: 0.3;
}
.card .imgProduct:hover .iconList{
    display: block;
    
}
.iconItem{
    background-color: rgb(0, 0, 0);
    width:50px;
    height:40px;
    display: inline-block;
    color:white;
    
}
.iconItem:hover{
    color:aliceblue;
}
.productHeading{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 46px;
}
