.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

.logo img {
    height: 50px;
}

.nav {
    display: flex;
    list-style-type: none;
    width: auto;
    height: auto;
    font-weight: 900;
}

.nav li {
    width: auto;
    height: 30px;
    margin: 20px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.nav li:hover {
    background-color: #38b589;
}

.nav li:hover a {
    color: white;
}

.admin {
    display: flex;
    width: auto;
    align-items: center;
}

.admin img {
    height: 30px;
}

.admin-name {
    list-style: none;
}

.log-out:hover {
    font-weight: 900;
    color: #38b589;
}