.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
    background-color: #032F4F;
    color: white;
}

.header a {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

.logo img {
    height: 50px;
}

.nav-bar {
    display: flex;
    list-style-type: none;
    width: auto;
    height: auto;
    font-weight: 900;
    margin: 0;
}

.nav-bar li {
    width: auto;
    height: 30px;
    margin: auto;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.nav-bar li:hover {
    background-color: #FACB0F;
}

.nav-bar li:hover a {
    color: black;
}

.admin {
    display: flex;
    width: auto;
    align-items: center;
}

.admin img {
    height: 30px;
}

.admin-name {
    list-style: none;
}

.log-out:hover {
    font-weight: 900;
    color: #FACB0F;
}